.sidebarChat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px solid #f6f6f6;

}

.sidebarChat:hover {
    background-color: #ebebeb;
}

.sidebarChat__info > h2 {
    font-size: 16px;
    margin-bottom: 8px;
}

.sidebarChat__info {
    flex: 0.9;
    margin-left: 15px;
}

.add-new-option {
    cursor: default;
}