.sidebarChat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
}

.sidebarChat:hover {
    background-color: #ebebeb;
}

.sidebarChat__info>h2 {
    font-size: 17px;
    font-weight: 450;
}

.sidebarChat__info>p {
    font-size: 13px;
    font-weight: 390;
    color: gray;
}

.sidebarChat__info {
    flex: 0.94;
    border-bottom: 1px solid #eeeded;
}

.add-new-option {
    cursor: default;
}

a {
    text-decoration: none !important;
    color: black;
}